<style>
  .mainBodyContainer{
    font-size: 14px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 20px;
  }
  .appTitle{
    font-size: 16px;
    color: #222222;
    padding: 0 10px;
    letter-spacing: 0;
  }
  .aboutme.null{
    font-size: 14px;
    color: #57667E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80%;
  }
  .aboutme > p{
    padding: 10px;
    line-height: 26px;
    letter-spacing: 0.2px;
  }
</style>

<div id="aboutMe" class="mainBodyContainer" style="height:440px">
  <div>
    <div>
      <img id="aboutIcon"/>
      <span class="appTitle"></span></div>
    <hr/>
  </div>
  <div class="aboutme">

  </div>
</div>

<script>
$( document ).ready(function() {
  $("#aboutIcon").attr('src', _spPageContextInfo.webAbsoluteUrl+'/SiteAssets/icon/icon_about.png');
  $.ajax({
    url: String.format("{0}/_api/web/lists/getByTitle('AboutMe')/items",
        _spPageContextInfo.webAbsoluteUrl),
    type: "GET",
    headers: {
      'content-type': 'application/json;odata=verbose',
        "accept": "application/json;odata=verbose",
        "X-RequestDigest": $("#__REQUESTDIGEST").val()
    },
    success: function (data) {
      $(".appTitle").html(data.d.results[0].Title);
      if(data.d.results[0].Display){
        $(".aboutme").html(data.d.results[0].Content);
        $("#aboutMe").css('height','auto');
      }
      else {
        $(".aboutme").addClass('null');
        $(".aboutme").html('<img src="'+_spPageContextInfo.webAbsoluteUrl+'/SiteAssets/icon/icon_noabout.png"/><p>内容更新中</p>');
      }
    },
    error: function (error) {
      console.log(error);
    }
  });
});
</script>
