<style>
  .control_pane{
    position: absolute;
  }
  .active img{
    border-radius: 2px;
  }
  .bannerContainer img{
    margin: auto;
    width: auto;
    height: auto;
    position: relative;
    z-index: 2;
  }
  .bannerContainer>span{
    text-align: center;
    display: none;
  }
  .bannerContainer>span.active{
    display: block;
    animation: fade 8s forwards;
  }
  .badgeContainer{
    text-align: center;
    position: relative;
    top: -20px;
    height: 19px;
  }
  .badge_btn{
    width: 6px;
    height: 6px;
    opacity: 0.49;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
  }
  .badge_btn.active{
    opacity: 1;
  }
  .control_pane{
    position: absolute;
  }
  .control_pane > div{
    width: 34px;
    height: 77px;
    top: 37%;
    position: relative;
    display: inline-block;
    z-index: 3;
    cursor: pointer;
  }
  .badge_lbtn{
    background-image: url("./SiteAssets/icon/btn_bany_l.png");
    float: left;
  }
  .badge_rbtn{
    background-image: url("./SiteAssets/icon/btn_bany_r.png");
    float: right;
  }
  .badge_lbtn:hover{
    background-image: url("./SiteAssets/icon/btn_banr_l.png");
  }
  .badge_rbtn:hover{
    background-image: url("./SiteAssets/icon/btn_banr_r.png");
  }
  @keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0;}
  }
</style>

<div id="banner">
  <div class="control_pane"></div>
  <div class="bannerContainer"></div>
  <div class="badgeContainer"></div>
</div>

<script>
  var slideInder = 0;
  var bannerContainer = [];
  var aTimer;

  $( document ).ready(function() {
    $("#banner").html(`
      <div class="control_pane"></div>
      <div class="bannerContainer"></div>
      <div class="badgeContainer"></div>
    `);
    bannerDataInti();
  });

  async function bannerDataInti(){
    await getBanner();
    if(banner.length > 1){
    for(var i = 0 ; i < banner.length ; i++){
      // if(i%3==0)
      //   $(".badgeContainer").append('<div style="width: 20px; display: inline-block;"></div>');
      $(".badgeContainer").append('<div class="badge_btn" onclick="bannerSwift('+i+', true)"></div>');
    }
      bannerSlider();
      $(".control_pane").append('<div class="badge_lbtn" onclick="bannerSwift(-1, false)"></div>');
      $(".control_pane").append('<div class="badge_rbtn" onclick="bannerSwift(1, false)"></div>');
    }
    else
      $(".bannerContainer span").css('display', 'block');

    //adjust components size
    $("#banner").parent().parent().css('overflow', '');
    $(".control_pane").width($("#banner").width());
    $(".control_pane").height($("#banner").parent().parent().height());
    $(".bannerContainer img").height($("#banner").parent().parent().height());
    $("#banner").parent().parent().css({'background':'transparent', 'box-shadow': '0 0'});
  }

  function getBanner(){
    var today = new Date();
    return $.ajax({
      url: String.format("{0}/_api/web/lists/getByTitle('Banner')/items?$orderby=sorting asc&$expand=AttachmentFiles&$filter= (Start le datetime'"+today.toISOString()+"') and (End ge datetime'"+today.toISOString()+"')",
          _spPageContextInfo.webAbsoluteUrl),
      type: "GET",
      headers: {
        'content-type': 'application/json;odata=verbose',
          "accept": "application/json;odata=verbose",
          "X-RequestDigest": $("#__REQUESTDIGEST").val()
      },
      success: function (data) {
        banner = data.d.results;
        $(".bannerContainer").html('');
        if(banner.length == 0)
          $(".bannerContainer").append("<span><img src=''/></span>");
        else
          banner.forEach( x => $(".bannerContainer").append("<span><a href='"+x.url+"'><img src='"+x.AttachmentFiles.results[0].ServerRelativeUrl+"'/></a></span>"));
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  function bannerSlider(){
    $($(".bannerContainer span")[slideInder]).addClass('active');
    $($(".badge_btn")[slideInder]).addClass('active');
    aTimer = setTimeout(function() {
      $(".bannerContainer span").removeClass('active');
      $(".badge_btn").removeClass('active');
      slideInder ++;
      if(slideInder >= banner.length)
        slideInder = 0;
      bannerSlider()
    },8000);
  }

  function bannerSwift(int, goto){
    clearTimeout(aTimer);
    $(".bannerContainer span").removeClass('active');
    $(".badge_btn").removeClass('active');
    if(goto)
      slideInder = int;
    else {
      slideInder = slideInder+int;
      if(slideInder >= banner.length)
        slideInder = 0;
      else if(slideInder < 0)
        slideInder = banner.length-1;
    }
    bannerSlider();
  }
</script>
