  .mainBodyContainer {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 20px;
  }

  .appName {
    display: inline-block;
    /* width: auto;
    margin-top: 1px;
    max-width: 450px; */
  }

  .search {
    /* float: right;
    display:inline-block; */
    display: flex;
    width: auto;
    /* padding-bottom: 20px; */
    padding-bottom: 22px;
    margin-top: -2px;
  }

  .search input {
    height: 40px;
    width: 200px;
    border-radius: 2px 0 0 2px;
    border: 1px solid #E4E4E4 !important;
    border-right: 0px solid !important;
    position: relative;
    /* left: 16px; */
  }

  .search img {
    opacity: 1;
    cursor: pointer;
  }

  .search img.disable {
    opacity: 0;
    cursor: default;
  }

  .search #clear_btn {
    position: relative;
    /* left: -4px; */
    left: -20px;
    height: 16px;
    width: 16px;
    top: 12px;
  }

  .search input:focus {
    outline: 0px;
    caret-color: #FF5A5B;
  }

  #search_btn {
    width: 45px;
    height: 40px;
    /* background: #E2E2E2; */
    border-radius: 0 2px 2px 0;
    display: inline-block;
    border: 1px solid rgba(171, 171, 171, 0.3);
    border-left: 0px solid;
    cursor: pointer;
    position: relative;
    left: -16px;
  }

  #search_btn.default {
    background-image: url("./icon/btn_search_link.png");
  }

  #search_btn.active {
    background-image: url("./icon/btn_search_hover.png");
  }

  .expansion {
    border-bottom: 1px solid #E4E4E4;
  }

  #expansion_btn {
    font-size: 10px;
    color: #57667E;
    letter-spacing: 0px;
    border: 1px solid #E4E4E4;
    border-radius: 4px 4px 1px 1px;
    margin-left: 89%;
    cursor: pointer;
    width: 90px;
    text-align: center;
  }

  #expansion_btn:hover {
    color: #FF5A5B;
  }

  #expansion_btn:hover>div {
    color: #57667E;
  }

  #expansion_btn>div {
    display: inline-block;
    position: relative;
  }

  #expansion_btn>div.up {
    transform: rotate(180deg);
    top: -2px;
  }

  .box_look {
    display: inline-block;
  }

  .classSelection ul,
  #page ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .classSelection li,
  #page li {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 40px 0 0;
    cursor: pointer;
  }

  #page {
    text-align: center;
    padding: 50px 0 0;
  }

  #page li {
    margin: 0 5px 0 0;
    padding: 0;
    cursor: default;
  }

  #page li div {
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border: 1px solid #E4E4E4;
    cursor: pointer;
    font-family: PingFangSC-Regular;
  }

  #page li div.active {
    color: #FFFFFF;
    background: #FF5A5B;
    border: 1px solid #FF5A5B;
    cursor: default;
  }

  #page li div.disable,
  #page li div.disable:hover {
    background: #FFFFFF;
    color: #E4E4E4;
    cursor: default;
  }

  #page li div:hover {
    background: #FFFFFF;
    color: #FF5A5B;
  }

  .classSelection.box_look ul {
    margin: 0;
  }

  .classSelection.box_look li {
    width: 145px;
    height: 40px;
    margin: 0px;
    border: 1px solid #E4E4E4;
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .classSelection.box_look li:hover {
    color: #FF5A5B;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
  }

  .classSelection.box_look li:active,
  .classSelection.box_look .active {
    color: #FFFFFF;
    background: #FF5A5B;
    border: 1px solid #FF5A5B;
  }

  .classSelection.line_look ul {
    margin-top: 20px;
  }

  .classSelection.line_look li {
    font-weight: bold;
    font-size: 14px;
  }

  .classSelection.line_look li>span:active,
  .classSelection.line_look li>span.active {
    border-bottom: 2px solid #ff3e39;
  }

  .classSelection#second_class {
    overflow: hidden;
    margin-bottom: -10px;
    transition-duration: 0.3s;
  }

  .classSelection#second_class li {
    padding: 0 40px 0 0;
  }

  .classSelection#second_class li>span:hover,
  .classSelection#second_class li>span.active,
  .classSelection.line_look li>span:hover {
    color: #FF5A5B;
  }

  #content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
  }

  .sqTab {
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
    border: 1px solid #eee;
    font-size: 12px;
    margin: 10px 0;
    cursor: pointer;
  }

  .sqTab.thumbnailView{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 260px;
    border: 0;
  }

  .sqTab .contentSpace {
    padding: 15px;
  }

  .sqTab .contentSpace hr {
    margin-top: 0px;
  }

  .sqTab .title {
    font-size: 16px;
    height: 55px;
    overflow: hidden;
  }

  .sqTab .new {
    float: right;
    position: relative;
    right: -1px;
    top: -1px;
    width: 36px;
    height: 39px;
  }

  .sqTab .thumbnails {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 22px;
    left: 10px;
  }

  .sqTab .info {
    color: #57667E;
  }

  .sqTab:Hover {
    border-color: #FF9F9F;
    color: #E64646;
    background-color: rgba(255, 159, 159, 0.05);
  }

  .sqTab:Hover hr {
    border-color: #FF9F9F;
  }

  .nullBox {
    margin-top: 34px;
    text-align: center;
    margin: auto;
    color: #57667E;
  }

  .clearSearch {
    color: #E64646;
    font-size: 14px;
    text-decoration: underline;
    top: -2px;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
  }

  .tagging {
    position: relative;
    top: -1px;
  }

  .tagging:hover {
    text-decoration: underline;
  }

  /* clock icon */

  a.icon {
    margin-top: 2px;
    background-color: #FFFFFF;
    border: 1px solid #57667E;
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: default;
  }

  a.icon:after,
  a.icon:before {
    background: #FFFFFF;
    border: 1px solid #57667E;
    content: '';
    position: absolute;
  }

  a.clock {
    border-radius: 100%;
    height: 10px;
    width: 10px;
  }

  a.clock:after,
  a.clock:before {
    border-left: none;
    width: 0;
  }

  a.clock:after {
    height: 4px;
    left: 4px;
    top: 1px;
  }

  a.clock:before {
    height: 3px;
    left: 5px;
    top: 3px;
    transform: rotate(90deg);
  }

  /*Auto Complete*/

  .ui-menu .ui-menu-item-wrapper {
    font-size: 14px;
    font-family: PingFangSC-Regular;
  }
