<style>
  @import url("./SiteAssets/blockview.css");
  @import url("./SiteAssets/jquery-ui.1.12.1.css" rel="stylesheet");
</style>

<div class="mainBodyContainer" id="blockview">
  <div>
    <div class="search"><input type="text" placeholder="搜索"/><img id="clear_btn" class="disable" />
      <div id="search_btn" class="default"></div>
    </div>
    <div class="appName">
      <div class="classSelection box_look" id="O_class">
        <ul>
          <li id="all">全部</li>
        </ul>
      </div>
    </div>
    <div class="classSelection line_look" id="first_class">
      <ul></ul>
    </div>
    <div class="classSelection" id="second_class">
      <ul></ul>
    </div>
    <div class="expansion"></div>
  </div>
  <div id="result_senc"></div>
  <div id="content"></div>
  <div id="page">
    <ul>
    </ul>
  </div>
</div>
<script src="./SiteAssets/jquery-ui.1.12.1.js"></script>
<script>
  $(document).ready(function() {

    var elemSelector = '#blockview';
    var detailPageURL = "detail.aspx"
    var siteUrl = _spPageContextInfo.webAbsoluteUrl;
    var config = [];
    var availableTags = [];
    var listItem = [];
    var filteredList = [];
    var oClassItem = [];
    var firstClassItem = [];
    var secondClassItem = [];
    var page = 1;
    var second_class_height;
    var currentFirst;
    var currentSecond;
    var search_value;
    var searching_flag = false;
    var expansionHeight = 115;

    $(elemSelector + " #clear_btn").attr('src', _spPageContextInfo.webAbsoluteUrl + '/SiteAssets/icon/btn_search_del.png');
    dataInti();

    async function dataInti() {
      await get_config();
      if (config.filter(x => x.Title == "O_Class")[0].Data == 'Yes')
        await spLookupListItems('O_Class');
      if (config.filter(x => x.Title == "First_Class")[0].Data == 'Yes')
        await spLookupListItems('First_Class');
      if (config.filter(x => x.Title == "Second_Class")[0].Data == 'Yes')
        await spLookupListItems('Second_Class');
      await spListItems();
      await objBinding();
      $($(elemSelector + " #O_class ul li:first-child")[0]).addClass("active");
    }

    function objBinding() {
      //O_class Button
      $(elemSelector + " #O_class ul li").click(function() {
        $(elemSelector + " #O_class ul li").removeClass("active");
        $(elemSelector + " #O_class ul li#" + this.id).addClass("active");
        page = 1;
        if (searching_flag) {
          displayItems('filter-' + this.id);
        } else {
          displayItems('O-' + this.id);
          $(elemSelector + " #first_class ul").html('');
          $(elemSelector + " #second_class ul").html('');
          var arr = [];
          for (var i = 0; i < firstClassItem.length; i++) {
            if (firstClassItem[i].O_ClassId == this.id) {
              $(elemSelector + " #first_class ul").append('<li><span class="line_look" id="' + firstClassItem[i].Id + '">' + firstClassItem[i].Title + '</span></li>');
              arr.push(firstClassItem[i].Id);
            }
          }
          $(elemSelector + " #second_class").height(0);
          if (this.id == 'all') {
            currentFirst = null;
            currentSecond = null;
            page = 1;
            displayItems('all');
          } else {
            $(elemSelector + " #first_class ul li span").removeClass("active");
            $(elemSelector + " #second_class ul li span").removeClass("active");
            $(elemSelector + " .expansion").html('<div id="expansion_btn"><div>^　</div>收起菜单</div>');
            $(elemSelector + " .expansion").hide();
          }
        }
      });
      //Searching
      $(elemSelector + " #search_btn").click(function() {
  		  displayItems('search');
  		});
      //Clear Search Records
  	  $(elemSelector + " #clear_btn").click(function() {
  	    clearInput();
  	  });
      //Searching behavior
      $(elemSelector + " .search>input").keyup(function(event) {
  		  searching(event);
  	  });
      //Searching Icon Hover Change
      $(elemSelector + " #search_btn").hover(function() {
        $(elemSelector + " #search_btn").toggleClass("active default");
      });
      //SharePoint Input Field Enter Binding Bug
      $(elemSelector + " input").keydown(function(e) {
        if (e.keyCode == 13) // enter key
          return false;
      });
      //Page Scrolling
      $("#s4-workspace").scroll(function() {
        $(".ui-autocomplete").hide();
      });
      //Auto Complete
      $(document).delegate(elemSelector + ' input.ui-autocomplete-input', 'click', function() { $(elemSelector + " input.ui-autocomplete-input").autocomplete("search"); });
      //Clear Search Records
  	  $(document).delegate(elemSelector + ' .clearSearch', 'click', function() { displayItems('clear'); });
      //Second Class expansion
      $(document).delegate(elemSelector + ' #expansion_btn', 'click', function() { expansion(); });
      //First Class Click rest page and filter content
      $(document).delegate(elemSelector + ' #first_class ul', 'click', function(e) { page=1; displayItems('f-' + e.target.id) });
      //Second Class Click rest page and filter content
      $(document).delegate(elemSelector + ' #second_class ul', 'click', function(e) { page=1; displayItems('s-' + e.target.id) });
      //Second Class Change When Click First Class
      $(document).delegate(elemSelector + ' #first_class ul li', 'click', function(e) {
        var fid = $(this).find('span').attr('id');
        $(elemSelector + " #second_class ul").html('');
        for (var i = 0; i < secondClassItem.length; i++) {
          if (secondClassItem[i].First_ClassId == fid)
            $(elemSelector + " #second_class ul").append('<li><span id="' + secondClassItem[i].Id + '">' + secondClassItem[i].Title + '</span></li>');
        }
        $(elemSelector + " #second_class").height('auto');

        second_class_height = $(elemSelector + " #second_class").height();
        $(elemSelector + " #second_class").height(second_class_height);
        $(elemSelector + " .expansion").html('<div id="expansion_btn"><div>^　</div>收起菜单</div>');
        if ($(elemSelector + " #first_class").height() + $(elemSelector + " #second_class").height() > expansionHeight + 5)
          $(elemSelector + " .expansion").show();
        else
          $(elemSelector + " .expansion").hide();
      });
      //Page Button Binding
      $(document).delegate(elemSelector + " #page div", 'click', function() {
        if (this.className != 'disable') {
          if (this.innerText == '<')
            page = parseInt(page) - 1;
          else if (this.innerText == '>')
            page = parseInt(page) + 1;
          else
            page = this.innerText;
          if ($(elemSelector + " #second_class .active").length == 1)
            displayItems('s-' + $(elemSelector + " #second_class .active")[0].id);
          else if ($(elemSelector + " #first_class .active").length == 1)
            displayItems('f-' + $(elemSelector + " #first_class .active")[0].id);

          else if (searching_flag)
            displayItems('unchange');
          else if ($(elemSelector + " #O_class .active").length == 1) {
            if ($(elemSelector + " #O_class .active")[0].id == 'all')
              displayItems('all');
            else displayItems('O-' + $(elemSelector + " #O_class .active")[0].id);
          } else {
            //console.log("all");
            displayItems('all');
          }
        }
      });
      //Click on Tab
      $(document).delegate(elemSelector + " .sqTab", 'click', function(e) {
        if (e.target.className == 'tagging') {
          $(elemSelector + " .search>input").val(e.target.innerText);
          $(elemSelector + " .search>img").removeClass('disable');
          displayItems('search');
        } else window.open(siteUrl + "/SitePages/" + detailPageURL + "?cid=" + this.id);
      });
    }

    function get_config() {
      return $.ajax({
        url: String.format("{0}/_api/web/lists/getByTitle('app.Config')/items",
          siteUrl),
        type: "GET",
        headers: {
          'content-type': 'application/json;odata=verbose',
          "accept": "application/json;odata=verbose",
          "X-RequestDigest": $(elemSelector + " #__REQUESTDIGEST").val()
        },
        success: function(data) {
          config = data.d.results;
        },
        error: function(error) {
          console.log(error);
        }
      });
    }

    function searching(e) {
      var charCode = (typeof e.which === "number") ? e.which : e.keyCode;
      if ($(elemSelector + " .search>input").val().trim().length > 0)
        $(elemSelector + " .search>img").removeClass('disable');
      if (charCode == '13')
        displayItems('search');
      else if (charCode == '8' && $(elemSelector + " .search>input").val().trim().length == 0)
        $(elemSelector + " .search>img").addClass('disable');
    }

    function spListItems() {
      var listTitle = config.filter(x => x.Title == "MainListName")[0].Data;
      return $.ajax({
        url: String.format("{0}/_api/web/lists/getByTitle('{1}')/items?$select=Modified, Created,FirstId,OId,SecondId,Id,Tag,Title,cid,KnowledgeType,ThumbnailData&$orderby=Modified desc&$filter=OData__ModerationStatus eq 0&$top=500",
          siteUrl, listTitle),
        type: "GET",
        headers: {
          'content-type': 'application/json;odata=verbose',
          "accept": "application/json;odata=verbose",
          "X-RequestDigest": $(elemSelector + " #__REQUESTDIGEST").val()
        },
        success: function(data) {
          listItem = data.d.results;
          categoryFiltering();
        },
        error: function(error) {
          console.log(error);
        }
      });
    }

    function categoryFiltering() {
      var TF_OList = listItem.map(i => oClassItem.filter(x => x.Id == i.OId).length > 0);
      var TF_FirstList = listItem.map(i => firstClassItem.filter(x => x.Id == i.FirstId).length > 0);
      var TF_SecondList = listItem.map(i => secondClassItem.filter(x => x.Id == i.SecondId).length > 0);
      var sliceArr = [];
      listItem.forEach((x, index) => {
        var TF_o = (TF_OList[index] || config.filter(x => x.Title == "O_Class")[0].Data != 'Yes');
        var TF_f = (TF_FirstList[index] || config.filter(x => x.Title == "First_Class")[0].Data != 'Yes');
        var TF_s = (TF_SecondList[index] || config.filter(x => x.Title == "Second_Class")[0].Data != 'Yes');
        if (TF_o && TF_f && TF_s) {}
        else sliceArr.push(index);
      });
      TF_OList = TF_FirstList = TF_SecondList = [];

      for (var i = sliceArr.length; i > 0; i--)
        listItem.splice(sliceArr[i - 1], 1);

      autoComplete();
      if($(elemSelector + " #O_class ul li:first-child")[0].id == 'all')
        displayItems('all');
      else
        displayItems('O-'+$(elemSelector + " #O_class ul li:first-child")[0].id);
    }

    function autoComplete() {
      availableTags = (listItem.map(x => x.Title));
      $(elemSelector + " .search>input").autocomplete({
        source: function(request, response) {
          var results = $.ui.autocomplete.filter(availableTags, request.term);
          response(results.slice(0, 10));
        }
      });
    }

    function spLookupListItems(listName) {
      return $.ajax({
        url: String.format("{0}/_api/web/lists/getByTitle('{1}')/items?$orderby=ordering asc",
          siteUrl, listName),
        type: "GET",
        headers: {
          'content-type': 'application/json;odata=verbose',
          "accept": "application/json;odata=verbose",
          "X-RequestDigest": $(elemSelector + " #__REQUESTDIGEST").val()
        },
        success: function(data) {
          data = data.d.results;
          if (listName == 'First_Class') {
            firstClassItem = data;
            $(elemSelector + " #first_class ul").html('');
          } else if (listName == 'Second_Class') {
            secondClassItem = data;
          } else if (listName == 'O_Class') {
            oClassItem = data;
            // $(elemSelector + " #O_class ul").html('<li id="all" class="active"><span>全部</span></li>');
            for (var i = 0; i < data.length; i++)
              $(elemSelector + " #O_class ul").append('<li id="' + data[i].Id + '"><span>' + data[i].Title + '</span></li>');
          }
        },
        error: function(error) {
          console.log(error);
        }
      });
    }

    function dynamicSort(property) {
      var sortOrder = 1;
      if (property[0] === "-") {
        sortOrder = -1;
        property = property.substr(1);
      }
      return function(a, b) {
        var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
        return result * sortOrder;
      }
    }

    function displayItems(item) { // item: x-1　
      item = item.split("-");
      switch (item[0]) {
        case "O":
          filteredList = listItem.filter(x => item[1] == x.OId);
          break;
        case "f":
          $(elemSelector + " #first_class ul li span").removeClass("active");
          $(elemSelector + " #second_class ul li span").removeClass("active");
          $(elemSelector + " #first_class ul li span#" + item[1]).addClass("active");
          currentFirst = item[1];
          filteredList = listItem.filter(x => item[1] == x.FirstId);
          break;
        case "s":
          $(elemSelector + " #second_class ul li span").removeClass("active");
          $(elemSelector + " #second_class ul li span#" + item[1]).addClass("active");
          currentSecond = item[1];
          filteredList = listItem.filter(x => item[1] == x.SecondId);
          break;
        case "search":
          if ($(elemSelector + " .search>input").val().length == 0 && $(elemSelector + " .search>input").val() != null)
            return;
          searching_flag = true;
          page = 1;
          $(elemSelector + " #first_class ul").html('');
          $(elemSelector + " #second_class ul").html('');
          $(elemSelector + " #O_class ul li").removeClass("active");
          // $(elemSelector + " #O_class ul li#all").addClass("active");
          $($(elemSelector + " #O_class ul li:first-child")[0]).addClass("active");
          $(elemSelector + " .expansion").hide();
          search_value = $(elemSelector + " .search>input").val().trim().toUpperCase();
          filteredList = listItem.filter(x => {
            if (x.Title.toUpperCase().includes(search_value) || (x.Tag != null && x.Tag.results.join(",").toUpperCase().indexOf(search_value) >= 0))
              return x;
          });
          if($(elemSelector + " #O_class ul li:first-child")[0].id != 'all')
            filteredList = filteredList.filter(x => $(elemSelector + " #O_class ul li:first-child")[0].id == x.OId);
          break;
        case "filter":
          page = 1;
          filteredList = listItem.filter(x => {
            if (x.Title.toUpperCase().includes(search_value) || (x.Tag != null && x.Tag.results.join(",").toUpperCase().indexOf(search_value) >= 0))
              return x;
          });
          if (item[1] != 'all') {
            filteredList = filteredList.filter(x => x.OId == item[1]);
          }
          break;
        case "time":
          filteredList.sort(dynamicSort("-Id"));
          break;
        case "view":
          filteredList.sort(dynamicSort("-viewCount"));
          break;
        case "clear":
          $(elemSelector + " .search>input").val('');
          $(elemSelector + " .search>img").addClass('disable');
          $(elemSelector + " #O_class ul li").removeClass("active");
          // $(elemSelector + " #O_class ul li#all").addClass("active");
          $($(elemSelector + " #O_class ul li:first-child")[0]).addClass("active");
          searching_flag = false;
          $(elemSelector + " .expansion").hide();
          if($(elemSelector + " #O_class ul li:first-child")[0].id != 'all')
            filteredList = listItem.filter(x => $(elemSelector + " #O_class ul li:first-child")[0].id == x.OId);
          else
            filteredList = listItem;
          break;
        case "all":
          $(elemSelector + " .expansion").hide();
          filteredList = listItem;
          break;
        case "unchange":
        default:
          filteredList = filteredList;
      }
      pagging();
      $(elemSelector + " #content").html('');
      $(elemSelector + " #result_senc").html('');
      if (filteredList.length == 0) {
        $(elemSelector + " #content").html(`<div class="nullBox"><img src="${siteUrl}/SiteAssets/icon/pic_nothing.png"/><p>没有找到符合条件的结果</p></div>`);
        if (item[0] == 'search' || item[0] == 'filter' || item[0] == 'unchange')
          $(elemSelector + " #content").html(`<div class="nullBox"><img src="${siteUrl}/SiteAssets/icon/pic_nothing.png"/><p>没有找到符合条件的结果，更换搜索条件试试？</p><p class="clearSearch">退出搜索</p></div>`);
      } else {
        try {
          if (searching_flag && search_value.length > 0)
            $(elemSelector + " #result_senc").html(
              `<div style="margin: 30px 0 35px">为你找到${filteredList.length}个包含“<span style="color:#E64646; position: relative; top: -2px;">${search_value}</span>”的结果 <span class="clearSearch"> 退出搜索</span></div>`);
          var item_per_page = parseInt(config.filter(x => x.Title == "Item_per_Page")[0].Data);
          var maxlength = Math.min((page - 1) * item_per_page + filteredList.length, (page - 1) * item_per_page + item_per_page);
          for (var i = (page - 1) * item_per_page; i < maxlength; i++) {
            var newNotice = "";
            var tag = "";
            var now = new Date();
            var Day_of_New = parseInt(config.filter(x => x.Title == "Day_of_New")[0].Data);
            if (Math.ceil((now - new Date(filteredList[i].Modified.split("T")[0])) / (24 * 60 * 60 * 1000)) <= Day_of_New)
              newNotice = '<img src="' + siteUrl + '/SiteAssets/icon/icon_new.png" />';
            if (filteredList[i].Tag) {
              tag = filteredList[i].Tag.results.map(x => '<span class="tagging">' + x + '</span>').join(' ');
            }

            // Normal Tab OutLook
            // $(elemSelector + " #content").append(
            //   `
            //   <div class="sqTab" id="${filteredList[i].Id}">
            //     <div class="new"> ${newNotice} </div>
            //     <div class="thumbnails"></div>
            //     <div class="contentSpace">
            //       <div class="title"> <p> ${filteredList[i].Title} </p> </div>
            //       <hr align="left" width="60%">
            //       <div class="info"> <a class="clock icon" title="Clock" href="#"></a>
            //         ${filteredList[i].Modified.split("T")[0].replace(/-/g,"/")} <br/>
            //         <p style="margin:5px 0 0">标签:　${tag}</p>
            //       </div>
            //     </div>
            //   </div>
            //   `
            // );
            // if (filteredList[i].KnowledgeType == 'video') {
            //   $(elemSelector + " .sqTab#" + filteredList[i].Id + " .thumbnails").css('background-image', 'url("' + filteredList[i].ThumbnailData + '")');
            // } else {
            //   $(elemSelector + " .sqTab#" + filteredList[i].Id + " .thumbnails").remove();
            // }

            // ThumbnailView Tab
            $(elemSelector + " #content").append(`<div class="sqTab thumbnailView" id="${filteredList[i].Id}"></div>`);
            $(elemSelector + " .sqTab#" + filteredList[i].Id).css('background-image', 'url("' + filteredList[i].ThumbnailData + '")');
          	if (filteredList[i].KnowledgeType == 'video') {
              $(elemSelector + " .sqTab#" + filteredList[i].Id).html(`<div style="width: 100px; float: right; top: 60%; position: relative; "><img src="/Themes/EPOperations/SiteAssets/icon/play-300.png" style="width: 100px;"></div>`);
            }
          }
        } catch (err) {}
      }
    }

    function expansion() {
      if ($(elemSelector + " #second_class").height() == 0) {} else if ($(elemSelector + " #first_class").height() + $(elemSelector + " #second_class").height() > expansionHeight) { //$(elemSelector + " #second_class").height() > 90
        if ($(elemSelector + " #first_class").height() - expansionHeight <= 0)
          $(elemSelector + " #second_class").height(Math.abs($(elemSelector + " #first_class").height() - expansionHeight));
        else $(elemSelector + " #second_class").height(1)
        $(elemSelector + " .expansion").html('<div id="expansion_btn"><div class="up">　^</div>全部展开</div>');
      } else {
        $(elemSelector + " #second_class").height(second_class_height);
        $(elemSelector + " .expansion").html('<div id="expansion_btn"><div>^　</div>收起菜单</div>');
      }
    }

    function clearInput() {
      $(elemSelector + " .search>input").val('');
      $(elemSelector + " .search>img").addClass('disable');
    }

    function pagging() {
      $(elemSelector + " #page ul").html('');
      $(elemSelector + " #page ul").append('<li><div><</div></li>');
      var item_per_page = parseInt(config.filter(x => x.Title == "Item_per_Page")[0].Data);
      var number_of_page = parseInt(config.filter(x => x.Title == "Number_of_Page")[0].Data);
      var pre = Math.round((number_of_page + 2) / 2);
      if (page >= pre) {
        if (Math.ceil(filteredList.length / item_per_page) > number_of_page)
          $(elemSelector + " #page ul").append('<li>...</li>');
        pre = page - pre + 1;
        if (page >= Math.ceil(filteredList.length / item_per_page) - Math.floor(number_of_page / 2))
          pre = Math.ceil(filteredList.length / item_per_page) - Math.floor(number_of_page / 2) - Math.round((number_of_page + 2) / 2) + 1;
      } else pre = 0;
      pre = Math.max(0, pre);
      for (var i = 1; i <= Math.ceil(filteredList.length / item_per_page) + 1; i++) {
        if (i == Math.ceil(filteredList.length / item_per_page) + 1) {
          if (page < Math.ceil(filteredList.length / item_per_page) - Math.floor(number_of_page / 2) && Math.ceil(filteredList.length / item_per_page) > number_of_page) {
            $(elemSelector + " #page ul").append('<li>...</li>');
          }
          $(elemSelector + " #page ul").append('<li><div>></div></li>');
        } else if (i > number_of_page || parseInt(pre + i) > Math.ceil(filteredList.length / item_per_page))
          continue;
        else
          $(elemSelector + " #page ul").append('<li><div name="page-' + parseInt(pre + i) + '">' + parseInt(pre + i) + '</div></li>');
      }
      if (page == 1)
        $(elemSelector + " #page ul li div:first").addClass('disable');
      if (page == Math.ceil(filteredList.length / item_per_page))
        $(elemSelector + " #page ul li div:last").addClass('disable');
      $(elemSelector + " #page ul li div").removeClass('active');
      if (filteredList.length > 0)
        $($(elemSelector + " #page ul li div[name='page-" + page + "']")[0]).addClass('active');
      else {
        $(elemSelector + " #page ul li div").addClass('disable');
        $(elemSelector + " #page ul li div").hide();
      }
    }
  });
</script>
